<ion-header [translucent]="true">
  <ion-toolbar class="colorAzul">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="assets/imagenes/login.svg"></ion-img>

  <ion-item>
    <ion-label position="floating"> Usuario </ion-label>
    <ion-input placeholder="Ingrese su nombre de usuario" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> password </ion-label>
    <ion-input placeholder="Ingrese su contraseña" [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <div>
    <a [routerLink]="['/']">¿Olvidaste tu contraseña?</a>
  </div>

  <ion-button (click)="login()" shape="block">Iniciar Sesion</ion-button>
  <ion-button [routerLink]="['/registro']" shape="block">Registrate</ion-button>








</ion-content>
